@import '../../../../abstracts/colors';

$tender-bg-purple: $bg-purple;
$tender-black: $clink-black;
$tender-dark-grey: $dark-grey;
$tender-green: $clink-green;
$tender-green-dark: $clink-green-dark;
$tender-grey: $dark-light-grey;
$tender-gold: #f3cb27;
$tender-orange: #ff7900;
$tender-purple: $clink-purple;
$tender-purple-light: $purple-light;
$tender-purple-lighter: $purple-lighter;
$tender-purple-lightest: $purple-lightest;
$tender-red: $clink-red;
$tender-white: $white;
