
##DOCKER
export ENV_DOCKER_API_PORT=$ENV_DOCKER_API_PORT
export DOCKER_SERVICES_HOSTS=$DOCKER_SERVICES_HOSTS
export DOCKER_CONTAINER_NAME=$DOCKER_CONTAINER_NAME

##SESSION COOKIE NAME
export SESSION_COOKIE_NAME=$SESSION_COOKIE_NAME

##FLC TRIAL HACKING EMAILS
export FLC_ACCOUNT_ID=$FLC_ACCOUNT_ID
export FLC_ACCOUNT_MEMBER_EMAILS=$FLC_ACCOUNT_MEMBER_EMAILS

##SESSION DEVELOPER FOR API ACCESS
export SESSION_DEV_TOKEN=$SESSION_DEV_TOKEN
export SESSION_LOGIN_EMAIL=$SESSION_LOGIN_EMAIL
export SESSION_LOGIN_PASSWORD=$SESSION_LOGIN_PASSWORD
export SESSION_AUTHORIZATION_KEY=$SESSION_AUTHORIZATION_KEY

export ENV=$ENV
#Account Service Config
export ACCOUNT_SERVICE_URL=$ACCOUNT_SERVICE_URL
export ACCOUNT_SERVICE_TOKEN=$ACCOUNT_SERVICE_TOKEN
export ACCOUNT_SERVICE_AUTH_ENABLED=$ACCOUNT_SERVICE_AUTH_ENABLED

#Project Service Config
export PROJECT_SERVICE_URL=$PROJECT_SERVICE_URL
export PROJECT_SERVICE_TOKEN=$PROJECT_SERVICE_TOKEN
export PROJECT_SERVICE_AUTH_ENABLED=$PROJECT_SERVICE_AUTH_ENABLED

#Document Service Config
export DOCUMENT_SERVICE_URL=$DOCUMENT_SERVICE_URL
export DOCUMENT_SERVICE_TOKEN=$DOCUMENT_SERVICE_TOKEN
export DOCUMENT_SERVICE_AUTH_ENABLED=$DOCUMENT_SERVICE_AUTH_ENABLED

export REACT_APP_URL=$REACT_APP_URL
export REACT_APP_V1_URL=$REACT_APP_V1_URL

export WEBCOMPONENTS_URL=$WEBCOMPONENTS_URL
export COMPANY_HOUSE_API_KEY=$COMPANY_HOUSE_API_KEY

##LEGACY SERVICE
export LEGACY_SERVICE_API_URL=$LEGACY_SERVICE_API_URL
export LEGACY_TOKEN=$LEGACY_TOKEN
export LEGACY_AJAX_TOKEN=$LEGACY_AJAX_TOKEN

##RELAY
export RELAY_APP_PROSPER=$RELAY_APP_PROSPER

#HUBSPOT
export HUBSPOT_ENABLED=$HUBSPOT_ENABLED
export HUBSPOT_API_KEY=$HUBSPOT_API_KEY
export HUBSPOT_URL=$HUBSPOT_URL

#HUBSPOT MARKETING
export HUBSPOT_API_URL=$HUBSPOT_API_URL
export HUBSPOT_SUPPLY_CHAIN_EMAIL_ID=$HUBSPOT_SUPPLY_CHAIN_EMAIL_ID

##Hubspot Prosper
export PROSPER_HUBSPOT_ENABLED=$PROSPER_HUBSPOT_ENABLED
export PROSPER_HUBSPOT_API_KEY=$PROSPER_HUBSPOT_API_KEY

export CLINK_SITE_URL=$CLINK_SITE_URL

##AWS
export AWS_S3_ENABLED=$AWS_S3_ENABLED
export AWS_S3_ACCESS_KEY_ID=$AWS_S3_ACCESS_KEY_ID
export AWS_S3_SECRET_ACCESS_KEY=$AWS_S3_SECRET_ACCESS_KEY
export AWS_S3_REGION=$AWS_S3_REGION
export AWS_S3_BUCKET=$AWS_S3_BUCKET
export AWS_S3_DOCUMENT_BUCKET=$AWS_S3_DOCUMENT_BUCKET
export AWS_S3_PDF_BUCKET=$AWS_S3_PDF_BUCKET
export AWS_S3_DOCUMENT_BUCKET_FOLDER=$AWS_S3_DOCUMENT_BUCKET_FOLDER
export AWS_S3_ASSET_BUCKET=$AWS_S3_ASSET_BUCKET
export AWS_S3_VERSION=$AWS_S3_VERSION

##AWS SQS
export AWS_SQS_KEY=$AWS_SQS_KEY
export AWS_SQS_SECRET=$AWS_SQS_SECRET
export AWS_SQS_URL=$AWS_SQS_URL
export QUEUE_PROCESSING_ENABLED=$QUEUE_PROCESSING_ENABLED
export AWS_SQS_PARALLEL=$AWS_SQS_PARALLEL
export AWS_SQS_TIMEOUT_TOTAL=$AWS_SQS_TIMEOUT_TOTAL
export AWS_SQS_TIMEOUT_AVERAGE=$AWS_SQS_TIMEOUT_AVERAGE
export AWS_SQS_EMAIL_QUEUE=$AWS_SQS_EMAIL_QUEUE
export AWS_SQS_APPROVAL_EMAIL_QUEUE=$AWS_SQS_APPROVAL_EMAIL_QUEUE

export FREE_TRIAL_ASSIGN_RANDOM_GROUP=$FREE_TRIAL_ASSIGN_RANDOM_GROUP

##AWS SNS
export AWS_SNS_ACCESS_KEY_ID=$AWS_SNS_ACCESS_KEY_ID
export AWS_SNS_SECRET_ACCESS_KEY=$AWS_SNS_SECRET_ACCESS_KEY
export AWS_SNS_FUE_TOPIC_URL=$AWS_SNS_FUE_TOPIC_URL
export AWS_SNS_TRE_TOPIC_URL=$AWS_SNS_TRE_TOPIC_URL
export AWS_SNS_FQE_TOPIC_URL=$AWS_SNS_FQE_TOPIC_URL
export AWS_SNS_OCS_TOPIC_URL=$AWS_SNS_OCS_TOPIC_URL
export AWS_SNS_ARS_TOPIC_URL=$AWS_SNS_ARS_TOPIC_URL
export AWS_SNS_PQQ_TOPIC_URL=$AWS_SNS_PQQ_TOPIC_URL

##AWS SSM - SYSTEM MANAGER
export AWS_SSM_KEY=${AWS_SSM_KEY}
export AWS_SSM_SECRET=${AWS_SSM_SECRET}

##STRIPE
export STRIPE_TOKEN=$STRIPE_TOKEN
export STRIPE_WEBHOOK_SECRET_KEY=$STRIPE_WEBHOOK_SECRET_KEY
export STRIPE_REDIRECT_SUCCESS_URL=$STRIPE_REDIRECT_SUCCESS_URL
export STRIPE_REDIRECT_ERROR_URL=$STRIPE_REDIRECT_ERROR_URL

export STRIPE_SUBSCRIPTION_FLEXI=$STRIPE_SUBSCRIPTION_FLEXI
export STRIPE_SUBSCRIPTION_REGIONAL=$STRIPE_SUBSCRIPTION_REGIONAL
export STRIPE_SUBSCRIPTION_NATIONAL=$STRIPE_SUBSCRIPTION_NATIONAL

export STRIPE_SUBSCRIPTION_STRATEGY_A5_TOKENS=$STRIPE_SUBSCRIPTION_STRATEGY_A5_TOKENS
export STRIPE_SUBSCRIPTION_STRATEGY_A5_TOKENS_PRICE=$STRIPE_SUBSCRIPTION_STRATEGY_A5_TOKENS_PRICE
export STRIPE_SUBSCRIPTION_STRATEGY_A5_TOKENS_LABEL=$STRIPE_SUBSCRIPTION_STRATEGY_A5_TOKENS_LABEL
export STRIPE_SUBSCRIPTION_STRATEGY_A5_TOKENS_RECEIVED=$STRIPE_SUBSCRIPTION_STRATEGY_A5_TOKENS_RECEIVED

export STRIPE_SUBSCRIPTION_STRATEGY_A10_TOKENS=$STRIPE_SUBSCRIPTION_STRATEGY_A10_TOKENS
export STRIPE_SUBSCRIPTION_STRATEGY_A10_TOKENS_PRICE=$STRIPE_SUBSCRIPTION_STRATEGY_A10_TOKENS_PRICE
export STRIPE_SUBSCRIPTION_STRATEGY_A10_TOKENS_LABEL=$STRIPE_SUBSCRIPTION_STRATEGY_A10_TOKENS_LABEL
export STRIPE_SUBSCRIPTION_STRATEGY_A10_TOKENS_RECEIVED=$STRIPE_SUBSCRIPTION_STRATEGY_A10_TOKENS_RECEIVED

export STRIPE_SUBSCRIPTION_STRATEGY_A20_TOKENS=$STRIPE_SUBSCRIPTION_STRATEGY_A20_TOKENS
export STRIPE_SUBSCRIPTION_STRATEGY_A20_TOKENS_PRICE=$STRIPE_SUBSCRIPTION_STRATEGY_A20_TOKENS_PRICE
export STRIPE_SUBSCRIPTION_STRATEGY_A20_TOKENS_LABEL=$STRIPE_SUBSCRIPTION_STRATEGY_A20_TOKENS_LABEL
export STRIPE_SUBSCRIPTION_STRATEGY_A20_TOKENS_RECEIVED=$STRIPE_SUBSCRIPTION_STRATEGY_A20_TOKENS_RECEIVED

export STRIPE_SUBSCRIPTION_STRATEGY_B1_TOKENS=$STRIPE_SUBSCRIPTION_STRATEGY_B1_TOKENS
export STRIPE_SUBSCRIPTION_STRATEGY_B1_TOKENS_PRICE=$STRIPE_SUBSCRIPTION_STRATEGY_B1_TOKENS_PRICE
export STRIPE_SUBSCRIPTION_STRATEGY_B1_TOKENS_LABEL=$STRIPE_SUBSCRIPTION_STRATEGY_B1_TOKENS_LABEL
export STRIPE_SUBSCRIPTION_STRATEGY_B1_TOKENS_RECEIVED=$STRIPE_SUBSCRIPTION_STRATEGY_B1_TOKENS_RECEIVED

export STRIPE_SUBSCRIPTION_STRATEGY_B5_TOKENS=$STRIPE_SUBSCRIPTION_STRATEGY_B5_TOKENS
export STRIPE_SUBSCRIPTION_STRATEGY_B5_TOKENS_PRICE=$STRIPE_SUBSCRIPTION_STRATEGY_B5_TOKENS_PRICE
export STRIPE_SUBSCRIPTION_STRATEGY_B5_TOKENS_LABEL=$STRIPE_SUBSCRIPTION_STRATEGY_B5_TOKENS_LABEL
export STRIPE_SUBSCRIPTION_STRATEGY_B5_TOKENS_RECEIVED=$STRIPE_SUBSCRIPTION_STRATEGY_B5_TOKENS_RECEIVED

export STRIPE_SUBSCRIPTION_STRATEGY_B10_TOKENS=$STRIPE_SUBSCRIPTION_STRATEGY_B10_TOKENS
export STRIPE_SUBSCRIPTION_STRATEGY_B10_TOKENS_PRICE=$STRIPE_SUBSCRIPTION_STRATEGY_B10_TOKENS_PRICE
export STRIPE_SUBSCRIPTION_STRATEGY_B10_TOKENS_LABEL=$STRIPE_SUBSCRIPTION_STRATEGY_B10_TOKENS_LABEL
export STRIPE_SUBSCRIPTION_STRATEGY_B10_TOKENS_RECEIVED=$STRIPE_SUBSCRIPTION_STRATEGY_B10_TOKENS_RECEIVED

export TENDER_WORTH_VALUE=$TENDER_WORTH_VALUE

##PROSPER PRO
export PROSPER_PRO_FREE_TOKENS_AMOUNT=$PROSPER_PRO_FREE_TOKENS_AMOUNT

## flags for enable activation email
export SIGNUP_EMAIL_ENABLED=$SIGNUP_EMAIL_ENABLED
export SIGNUP_EMAIL_UNIQUE_COMPANY_NAME=$SIGNUP_EMAIL_UNIQUE_COMPANY_NAME
export SIGNUP_EMAIL_CHECK=$SIGNUP_EMAIL_CHECK
export SIGNUP_EMAIL_THANK_YOU=$SIGNUP_EMAIL_THANK_YOU

#SETASIGN
export SETASIGN_USERNAME=$SETASIGN_USERNAME
export SETASIGN_PASSWORD=$SETASIGN_PASSWORD

# FROM SUB ENVS folders
export ADMIN_SITE_URL=$ADMIN_SITE_URL
export ADMIN_COOKIE_DOMAIN_URL=$ADMIN_COOKIE_DOMAIN_URL
export SUPPLY_CHAIN_SITE_URL=$SUPPLY_CHAIN_SITE_URL
export PROSPER_SITE_URL=$PROSPER_SITE_URL
export PROSPER_COOKIE_DOMAIN_URL=$PROSPER_COOKIE_DOMAIN_URL
export PROSPER_UPGRADE_ACCOUNT_URL=$PROSPER_UPGRADE_ACCOUNT_URL

#DATABASE
export DB_HOST=$DB_HOST
export DATABASE_ACCOUNT_SERVICE_NAME=$DATABASE_ACCOUNT_SERVICE_NAME
export DATABASE_ACCOUNT_SERVICE_USER=$DATABASE_ACCOUNT_SERVICE_USER
export DATABASE_ACCOUNT_SERVICE_PASSWORD=$DATABASE_ACCOUNT_SERVICE_PASSWORD

export DATABASE_PROJECT_SERVICE_NAME=$DATABASE_PROJECT_SERVICE_NAME
export DATABASE_PROJECT_SERVICE_USER=$DATABASE_PROJECT_SERVICE_USER
export DATABASE_PROJECT_SERVICE_PASSWORD=$DATABASE_PROJECT_SERVICE_PASSWORD

#FAVICION
export SITE_FAVICON_PROSPER_32X32_IMAGE=$SITE_FAVICON_PROSPER_32X32_IMAGE
export SITE_FAVICON_PROSPER_32X32_SIZES=$SITE_FAVICON_PROSPER_32X32_SIZES
export SITE_FAVICON_PROSPER_32X32_REL=$SITE_FAVICON_PROSPER_32X32_REL
export SITE_FAVICON_PROSPER_192X192_IMAGE=$SITE_FAVICON_PROSPER_192X192_IMAGE
export SITE_FAVICON_PROSPER_192X192_SIZES=$SITE_FAVICON_PROSPER_192X192_SIZES
export SITE_FAVICON_PROSPER_192X192_REL=$SITE_FAVICON_PROSPER_192X192_REL
export SITE_FAVICON_PROSPER_APPLE_TOUCH_IMAGE=$SITE_FAVICON_PROSPER_APPLE_TOUCH_IMAGE
export SITE_FAVICON_PROSPER_APPLE_TOUCH_SIZES=$SITE_FAVICON_PROSPER_APPLE_TOUCH_SIZES
export SITE_FAVICON_PROSPER_APPLE_TOUCH_REL=$SITE_FAVICON_PROSPER_APPLE_TOUCH_REL

##GOOGLE
export GOOGLE_MAPS_SERVICE_AUTH_ENABLED=$GOOGLE_MAPS_SERVICE_AUTH_ENABLED
export GOOGLE_MAPS_SERVICE_URL=$GOOGLE_MAPS_SERVICE_URL
export GOOGLE_MAPS_SERVICE_API_KEY=$GOOGLE_MAPS_SERVICE_API_KEY

##SCRIPTS
export SCRIPTS_TOKEN_CAMPAIGN_ENABLED=$SCRIPTS_TOKEN_CAMPAIGN_ENABLED
export SCRIPTS_TOKEN_CAMPAIGN_SAVE_DIRECTORY=$SCRIPTS_TOKEN_CAMPAIGN_SAVE_DIRECTORY
export SCRIPTS_TOKEN_CAMPAIGN_SAVE_PERMISSION=$SCRIPTS_TOKEN_CAMPAIGN_SAVE_PERMISSION
export FIRST_INTEREST_EMAIL=$FIRST_INTEREST_EMAIL

##CRON
export CRON_FREE_TRIAL_FREE_TOKENS_NOTIFICATION=$CRON_FREE_TRIAL_FREE_TOKENS_NOTIFICATION
export CRON_QUOTATION_FIRST_REMINDER=$CRON_QUOTATION_FIRST_REMINDER
export CRON_QUOTATION_SECOND_REMINDER=$CRON_QUOTATION_SECOND_REMINDER
export CRON_QUOTATION_OVERDUE_REMINDER=$CRON_QUOTATION_OVERDUE_REMINDER
export CRON_EXTERNAL_SUBCONTRACTOR_ENABLED=$CRON_EXTERNAL_SUBCONTRACTOR_ENABLED
export CRON_EXTERNAL_SUBCONTRACTOR_PERIOD_ENABLED=$CRON_EXTERNAL_SUBCONTRACTOR_PERIOD_ENABLED
export CRON_FIRST_INTERST_ENABLED=$CRON_FIRST_INTERST_ENABLED

##FREE TRIAL
export FREE_TRIAL_TOKENS_ENABLED=$FREE_TRIAL_TOKENS_ENABLED
export FREE_TRIAL_TOKENS_AMOUNT=$FREE_TRIAL_TOKENS_AMOUNT
export FREE_TRIAL_LIMIT_LATEST_OPPORTUNITIES=$FREE_TRIAL_LIMIT_LATEST_OPPORTUNITIES
export FREE_TRIAL_HIDE_PROJECT_NAME=$FREE_TRIAL_HIDE_PROJECT_NAME
export FREE_TRIAL_PREQUAL_APPROVED=$FREE_TRIAL_PREQUAL_APPROVED
export FREE_TRIAL_ASSING_RANDOM_GROUP=$FREE_TRIAL_ASSING_RANDOM_GROUP

##HUBSPOT CAMPAIGN ID
export HUBSPOT_QUOTATION_SUBMITTED=$HUBSPOT_QUOTATION_SUBMITTED
export HUBSPOT_TENDER_LIVE=$HUBSPOT_TENDER_LIVE
export HUBSPOT_FREE_TRIAL_OPPORTUNITIES=$HUBSPOT_FREE_TRIAL_OPPORTUNITIES
export HUBSPOT_FREE_OPT_IN_DIRECTORY=$HUBSPOT_FREE_OPT_IN_DIRECTORY
export HUBSPOT_QUOTATION_FIRST_REMINDER=$HUBSPOT_QUOTATION_FIRST_REMINDER
export HUBSPOT_QUOTATION_SECOND_REMINDER=$HUBSPOT_QUOTATION_SECOND_REMINDER
export HUBSPOT_EXTERNAL_SUBCONTRACTOR_ACTIVATION_REMINDER=$HUBSPOT_EXTERNAL_SUBCONTRACTOR_ACTIVATION_REMINDER
export GOOGLE_TAG_MANAGER_ENABLED=$GOOGLE_TAG_MANAGER_ENABLED
export GOOGLE_TAG_MANAGER_ID=$GOOGLE_TAG_MANAGER_ID

export PROSPER_REFERER_URL=$PROSPER_REFERER_URL

export LOGO_CLINK_URL=$LOGO_CLINK_URL
export LOGO_ACCOUNT_URL=$LOGO_ACCOUNT_URL
export DOCUMENT_SAVE_DIRECTORY=$DOCUMENT_SAVE_DIRECTORY
export DOCUMENT_SAVE_PERMISSION=$DOCUMENT_SAVE_PERMISSION
export DOCUMENT_SAVE_TMP=$DOCUMENT_SAVE_TMP

export LOGO_PROSPER_URL=$LOGO_PROSPER_URL
export PDF_HEADER_LOGO_URL=$PDF_HEADER_LOGO_URL
export PDF_FOOTER_LOGO_URL=$PDF_FOOTER_LOGO_URL

##Email Service
export EMAIL_SERVICE_URL=$EMAIL_SERVICE_URL
export EMAIL_API_TOKEN_ENABLED=$EMAIL_API_TOKEN_ENABLED
export EMAIL_API_TOKEN=$EMAIL_API_TOKEN
export EMAIL_DEFAULT_CLINK_ADDRESS=$EMAIL_DEFAULT_CLINK_ADDRESS
export EMAIL_DEFAULT_PROSPER_ADDRESS=$EMAIL_DEFAULT_PROSPER_ADDRESS
export EMAIL_FALLBACK_NO_REPLY_EMAIL=$EMAIL_FALLBACK_NO_REPLY_EMAIL
export EMAIL_FALLBACK_NO_REPLY_NAME=$EMAIL_FALLBACK_NO_REPLY_NAME

export CLINK_URL=$CLINK_URL
export BUY_TOKENS_URL=$BUY_TOKENS_URL
export SIGNUP_URL=$SIGNUP_URL
export SUPPLY_CHAIN_ACTIVATION_URL=$SUPPLY_CHAIN_ACTIVATION_URL
export PROMO_ACTIVATION_URL=$PROMO_ACTIVATION_URL
export LOGIN_URL=$LOGIN_URL

#APACHE CONF FOR EACH APP
APACHE_SERVER_ADMIN=$APACHE_SERVER_ADMIN
APACHE_ADMIN_SERVER_NAME=$APACHE_ADMIN_SERVER_NAME
APACHE_ANALYTICS_SERVER_NAME=$APACHE_ANALYTICS_SERVER_NAME
APACHE_COMPANY_PROFILE_SERVER_NAME=$APACHE_COMPANY_PROFILE_SERVER_NAME
APACHE_COST_PLANNING_TOOL_SERVER_NAME=$APACHE_COST_PLANNING_TOOL_SERVER_NAME
APACHE_EMAIL_SERVER_NAME=$APACHE_EMAIL_SERVER_NAME
APACHE_HUBSPOT_SERVER_NAME=$APACHE_HUBSPOT_SERVER_NAME
APACHE_PREQUALIFICATION_SERVER_NAME=$APACHE_PREQUALIFICATION_SERVER_NAME
APACHE_PROSPER_SERVER_NAME=$APACHE_PROSPER_SERVER_NAME
APACHE_SUPPLY_CHAIN_SERVER_NAME=$APACHE_SUPPLY_CHAIN_SERVER_NAME
APACHE_API_SERVER_NAME=$APACHE_API_SERVER_NAME
APACHE_ALLOW_ORIGIN=$APACHE_ALLOW_ORIGIN

##API SETTINGS
BOQ_PDF_SAVE_TMP=$BOQ_PDF_SAVE_TMP
BOQ_QUOTE_SAVE_TMP=$BOQ_QUOTE_SAVE_TMP
BOQ_REVISION_SAVE_TMP=$BOQ_REVISION_SAVE_TMP

TENDER_RECOMMENDATION_PDF_SAVE_DIR=$TENDER_RECOMMENDATION_PDF_SAVE_DIR

#PROQUO Settings
PROQUO_SERVICE_URL=$PROQUO_SERVICE_URL
PROQUO_SERVICE_AUTH_ENABLED=$PROQUO_SERVICE_AUTH_ENABLED
PROQUO_SERVICE_TOKEN=$PROQUO_SERVICE_TOKEN


##EMAIL CLIENTS
##OUTLOOK
export CLIENT_OUTLOOK_SMTP=$CLIENT_OUTLOOK_SMTP
export CLIENT_OUTLOOK_PORT=$CLIENT_OUTLOOK_PORT
export CLIENT_OUTLOOK_AUTH=$CLIENT_OUTLOOK_AUTH
export CLIENT_OUTLOOK_SECURE=$CLIENT_OUTLOOK_SECURE

##GMAIL
export CLIENT_GMAIL_SMTP=$CLIENT_GMAIL_SMTP
export CLIENT_GMAIL_PORT=$CLIENT_GMAIL_PORT
export CLIENT_GMAIL_AUTH=$CLIENT_GMAIL_AUTH
export CLIENT_GMAIL_SECURE=$CLIENT_GMAIL_SECURE

##POSTMARK
export CLIENT_POSTMARK_AUTH=$CLIENT_POSTMARK_AUTH

export CRYPTO_DEFUSE_KEY=$CRYPTO_DEFUSE_KEY

export SESSION_DEV_LOGIN_ENABLED=$SESSION_DEV_LOGIN_ENABLED

export POSTMARK_IMAGE_TYPE_PATH=$POSTMARK_IMAGE_TYPE_PATH

export REGION_CODE=$REGION_CODE

export API_KEY=
export AWS_SNS_ENABLED=true
export ENVIRONMENT=development

export API_SERVICE_URL=$API_SERVICE_URL

##AWS SSM - SYSTEM MANAGER
export AWS_SSM_KEY=$AWS_SSM_KEY
export AWS_SSM_SECRET=$AWS_SSM_SECRET

#PDF ALLOWED URLS
export PDF_RENDER_ALLOWED_URLS=$PDF_RENDER_ALLOWED_URLS
export ASSET_URL=$ASSET_URL
export AWS_S3_ASSET_URL=$AWS_S3_ASSET_URL

#Partner API (IFS integration) JWT Config
export PARTNER_JWT_TTL_SECONDS=$PARTNER_JWT_TTL_SECONDS
export PARTNER_JWT_LEEWAY=$PARTNER_JWT_LEEWAY
export PARTNER_JWT_PRIVATE_KEY=$PARTNER_JWT_PRIVATE_KEY
export PARTNER_JWT_PUBLIC_KEY=$PARTNER_JWT_PUBLIC_KEY
