.edit-PDF {
  & > div {
    margin-left: 0;
    margin-right: 0;

    @include media('<tablet') {
      flex-direction: column-reverse;
    }

    .panel {
      font-family: 'proxima_nova', 'sofia_pro_softlight', sans-serif;

      strong {
        font-family: 'proxima_nova_bold', 'sofia_pro_softlight', sans-serif;
      }

      .sector {
        border-color: $purple-lighter;
      }

      .min-height-600 {
        min-height: 600px;
      }

      &-right {
        padding: 24px;
        background: #c9ccd0;
        scrollbar-color: $clink-purple transparent;

        ::-webkit-scrollbar-thumb {
          background: $clink-purple;
        }

        & > div {
          margin: 0;

          .PDFViewer {
            height: 950px;
            overflow: auto;
            background-color: $white;

            .justified {
              text-align: justify;

              button {
                text-align: justify;
              }
            }

            &.loading-content {
              pointer-events: none;
              opacity: 0.5;
            }

            .tes-mech-logo-container {
              position: relative;

              .tes-mech-logo {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }

            .edit-document-document {
              max-width: 100%;
              height: 100%;
              margin: auto;

              &.culena {
                button.text-button {
                  text-align: justify;
                }
              }

              .edit-document-page {
                background-color: $white;
                min-height: 950px;
                border: 0;
                font-size: 14px;

                em {
                  font-style: italic !important;
                }

                .content-changed {
                  color: $tender-orange;
                }

                &:nth-of-type(2) {
                  .edit-document-container {
                    & > div {
                      &:nth-of-type(1) {
                        strong {
                          font-family:
                            'proxima_nova', 'sofia_pro_softlight', sans-serif;
                        }
                      }
                    }
                  }
                }

                .header-viewer {
                  margin: 32px;
                  border-bottom: 2px solid $purple-lighter;
                  padding-bottom: 25px;
                  margin-bottom: 25px;

                  .header-logo {
                    vertical-align: top;
                    display: inline-block;
                    width: 30%;

                    img {
                      max-height: 70px;
                    }
                  }

                  .header-info {
                    display: inline-block;
                    text-align: end;
                    width: 70%;
                    font-size: 12px;
                    color: $clink-black;
                  }
                }

                .edit-document-container {
                  margin: 32px;
                  min-height: 950px;
                  position: relative;

                  &.iso-tables {
                    .edit-document-table {
                      margin-bottom: 0;
                    }
                  }

                  .align-right {
                    text-align: right;
                  }

                  .hidden-reference {
                    visibility: hidden;
                  }

                  .table-subcontractor-agreement {
                    border: 0px;

                    .edit-document-table-column {
                      padding: 3px 0px;
                    }
                  }

                  hr {
                    line-height: 1em;
                    position: relative;
                    outline: 0;
                    border: 0;
                    text-align: center;
                    height: 1.5em;

                    &:before {
                      content: '';
                      background-color: $black;
                      position: absolute;
                      left: 0;
                      top: 50%;
                      width: 100%;
                      height: 1px;
                    }

                    &:after {
                      content: attr(data-content);
                      position: relative;
                      display: inline-block;
                      color: $black;

                      padding: 0 0.5em;
                      line-height: 1.5em;
                      background-color: $white;
                    }
                  }

                  .legal-table {
                    margin-top: 14px;
                    margin-bottom: 14px;

                    .legal-table-header {
                      display: flex;
                      margin-bottom: 14px;

                      & > div {
                        &:nth-of-type(1) {
                          padding-left: 6px;
                          padding-right: 30px;
                        }
                      }
                    }

                    .legal-table-section {
                      display: flex;
                      margin-bottom: 14px;

                      & > div {
                        &:nth-of-type(1) {
                          padding-left: 30px;
                        }

                        &:nth-of-type(2) {
                          padding-left: 10px;
                        }

                        &:nth-of-type(3) {
                          padding-left: 10px;
                        }
                      }
                    }

                    strong {
                      font-family:
                        'proxima_nova', 'sofia_pro_softlight', sans-serif;
                    }
                  }

                  .indented-content {
                    padding-left: 30px;

                    & > div {
                      margin-bottom: 14px;
                    }

                    strong {
                      font-family:
                        'proxima_nova', 'sofia_pro_softlight', sans-serif;
                    }
                  }

                  li.ql-indent-2 {
                    display: block;
                    list-style: none;
                    padding-left: 30px;
                  }

                  .edit-document-title {
                    width: 100%;
                    font-size: 18pt;
                    position: absolute;
                    bottom: 50%;
                  }

                  .document-title {
                    font-size: 18pt !important;
                  }

                  .edit-document-table {
                    width: 100%;
                    display: table;
                    border: 1px solid $purple-lighter;
                    background-color: $gray-bg;
                    border-collapse: collapse;

                    &.reference-table {
                      margin-bottom: 0;
                      width: 90%;
                    }

                    &.no-border {
                      border: none;

                      .edit-document-table-row {
                        border: none;

                        .edit-document-table-column {
                          border: none;
                        }
                      }
                    }

                    &.tc {
                      .edit-document-table-row {
                        &.pad-15 {
                          .edit-document-table-column {
                            &:nth-of-type(1) {
                              padding-left: 30px;
                            }
                          }
                        }

                        &.pad-20 {
                          .edit-document-table-column {
                            &:nth-of-type(1) {
                              padding-left: 40px;
                            }
                          }
                        }

                        &.pad-40 {
                          .edit-document-table-column {
                            &:nth-of-type(1) {
                              padding-left: 60px;
                            }
                          }
                        }

                        &.pad-60 {
                          .edit-document-table-column {
                            &:nth-of-type(1) {
                              padding-left: 80px;
                            }
                          }
                        }

                        &.pad-80 {
                          .edit-document-table-column {
                            &:nth-of-type(1) {
                              padding-left: 100px;
                            }
                          }
                        }

                        .edit-document-table-column {
                          &:nth-of-type(1) {
                            width: 25%;
                          }

                          &:nth-of-type(2) {
                            width: 75%;
                          }
                        }
                      }
                    }

                    .line-through {
                      button {
                        text-decoration: line-through;
                      }
                    }

                    .edit-document-table-row {
                      display: table-row;

                      &.soa-section div.edit-document-table-column,
                      &.miniboq-section div.edit-document-table-column {
                        background-color: $gray-bg;
                        padding: 8px;
                        margin-top: 4px;
                        border-left: none;
                        border-right: none;
                      }

                      &.soamc-row {
                        .table-header {
                          div {
                            max-width: 50px !important;
                            button.text-button--empty {
                              min-width: unset !important;
                              width: unset !important;
                            }
                          }
                        }
                        div {
                          button {
                            min-width: unset !important;
                            width: unset !important;
                          }
                        }

                        &.soa-section {
                          .MuiInputBase-root {
                            background-color: #f6f6fb !important;
                          }
                        }
                      }

                      &:not(.preliminaries) {
                        .edit-document-table-column {
                          width: 50%;
                        }

                        .three-cols {
                          width: 33%;
                        }

                        .four-cols {
                          width: 25%;
                        }
                      }

                      &.table-caption {
                        display: table-caption;

                        & > .edit-document-table-column {
                          display: block;
                          width: 100%;
                        }
                      }

                      &.table-caption-two {
                        display: table-caption;
                        border: 1px solid $purple-lighter;

                        & > .edit-document-table-column {
                          display: inline-block;
                          width: 50%;
                          border: none;

                          &:nth-of-type(2) {
                            border-left: 1px solid $purple-lighter;
                          }
                        }
                      }

                      &.table-caption-three {
                        display: table-caption;

                        & > .three-cols {
                          width: 33.33%;
                          display: inline-block;
                        }
                      }

                      &.preliminaries {
                        .table-header {
                          white-space: nowrap;
                        }
                      }

                      .edit-document-table-column {
                        padding: 8px;
                        display: table-cell;
                        background-color: $white;
                        border: 1px solid $purple-lighter;

                        &.red-color {
                          color: $red;
                        }

                        &.pink-color {
                          color: $prosper-pink;
                        }

                        &.width-90 {
                          width: 90% !important;
                        }

                        &.width-80 {
                          width: 80% !important;
                        }

                        &.width-70 {
                          width: 70% !important;
                        }

                        &.width-60 {
                          width: 60% !important;
                        }

                        &.width-50 {
                          width: 50% !important;
                        }

                        &.width-40 {
                          width: 40% !important;
                        }

                        &.width-30 {
                          width: 30% !important;
                        }

                        &.width-25 {
                          width: 25% !important;

                          .clink-form {
                            min-height: unset;
                          }
                        }

                        &.width-20 {
                          width: 20% !important;
                        }

                        &.width-15 {
                          width: 15% !important;
                        }

                        &.width-10 {
                          width: 10% !important;
                        }

                        &.width-5 {
                          width: 5% !important;
                        }

                        &.centered-text {
                          text-align: center;
                        }
                      }

                      .edit-document-table-full-column {
                        padding: 8px;
                      }
                    }

                    &.nec-table {
                      .edit-document-table-row {
                        .edit-document-table-column {
                          &:nth-of-type(1) {
                            width: 30%;
                          }

                          &:nth-of-type(2) {
                            width: 70%;
                          }
                        }
                      }
                    }

                    &.nec-table-3-col {
                      .edit-document-table-row {
                        .edit-document-table-column {
                          &:nth-of-type(1) {
                            width: 30%;
                          }

                          &:nth-of-type(2) {
                            width: 40%;
                          }

                          &:nth-of-type(3) {
                            width: 30%;
                          }
                        }
                      }
                    }

                    &.nec-table-big {
                      border: 1px solid #212529;
                      border-collapse: separate;

                      .edit-document-table-row {
                        .table-header {
                          background-color: #a4a39c !important;
                          font-size: 37px;
                          padding: 0px 10px;
                        }

                        .table {
                          .table-header {
                            font-size: 16px;
                          }

                          &:nth-of-type(1) {
                            margin-top: 15px;
                          }

                          .edit-document-table-row {
                            .edit-document-table-column {
                              border-color: #212529;

                              &.empty-square {
                                height: 100px;
                              }
                            }
                          }
                        }
                      }
                    }

                    &.culena-small {
                      button.text-button {
                        font-size: 8px;
                      }

                      .edit-document-table-row {
                        .edit-document-table-column {
                          &:nth-of-type(1) {
                            width: 15%;
                          }

                          &:nth-of-type(2) {
                            width: 85%;
                          }
                        }
                      }
                    }

                    .table-header {
                      background-color: $gray-bg !important;
                    }

                    .table-full-header {
                      background-color: $gray-bg;
                      border: 1px solid $purple-lighter;
                    }

                    &.hrt {
                      .hrt__elem {
                        display: table-cell;
                        background-color: $white;
                        width: 40%;

                        &--center {
                          padding: 0 8px;
                          width: 20%;
                          text-align: center;
                        }
                      }
                    }

                    &.numbered-table {
                      .edit-document-table-row {
                        .edit-document-table-column:first-child {
                          width: 10%;
                        }
                      }
                    }
                  }

                  .flex-between {
                    display: flex;
                    justify-content: space-between;
                  }

                  .table {
                    display: table;
                    border-collapse: collapse;

                    &.no-border {
                      .table-documents-row {
                        .table-documents-column {
                          border: none;
                        }
                      }
                    }

                    .table-documents-row {
                      display: table-row;

                      .table-documents-column {
                        padding: 8px;
                        display: table-cell;
                        border: 1px solid $purple-lighter;
                        width: 50%;
                      }

                      &.together {
                        .table-documents-column {
                          padding: 0px;
                          padding-left: 8px;
                        }
                      }

                      &.culena {
                        .table-documents-column {
                          padding: 16px;
                          padding-left: 4px;
                        }
                      }
                    }

                    &.table-documents {
                      & > div {
                        display: table-row;

                        &:nth-of-type(1) {
                          background-color: $gray-bg;

                          & > div {
                            background-color: $gray-bg;
                          }
                        }

                        & > div {
                          padding: 8px;
                          display: table-cell;
                          border: 1px solid $purple-lighter;
                          width: 50%;
                        }
                      }
                    }
                  }
                }

                .footer-viewer {
                  width: 100%;

                  .footer-info {
                    margin: 32px;
                    margin-bottom: 43px;
                    color: $clink-black;
                  }

                  .footer-divider {
                    height: 45px;
                    background-color: $purple-lighter;
                    position: relative;

                    div {
                      width: 100%;
                      background-color: transparent;
                      text-align: center;
                      margin: 0;
                      position: absolute;
                      top: 50%;
                      -ms-transform: translateY(-50%);
                      transform: translateY(-50%);
                    }
                  }
                }

                .focused {
                  color: $tender-orange;
                  font-family: 'proxima_nova_bold', 'proxima_nova', sans-serif;

                  &.edit-document-table-row {
                    .edit-document-table-column:first-child {
                      border-left: 2px solid !important;
                    }
                  }
                }

                ol {
                  counter-reset: list-0;

                  > li,
                  > .ql-li {
                    counter-increment: list-0;

                    &::marker {
                      content: counter(list-0, decimal) '. ';
                    }

                    > ol {
                      counter-reset: list-1;

                      > li {
                        counter-increment: list-1;

                        &::marker {
                          content: counter(list-1, lower-alpha) ') ';
                        }

                        > ol {
                          counter-reset: list-2;

                          > li {
                            counter-increment: list-2;

                            &::marker {
                              content: counter(list-2, lower-roman) '. ';
                            }
                          }
                        }
                      }
                    }

                    &.ql-indent-1 {
                      margin-left: 40px;
                      counter-reset: list-2 list-3 list-4 list-5 list-6 list-7
                        list-8 list-9;
                      counter-increment: list-1;

                      &::marker {
                        content: counter(list-1, lower-alpha) '. ';
                      }
                    }

                    &.ql-indent-2 {
                      margin-left: 80px;
                      counter-reset: list-3 list-4 list-5 list-6 list-7 list-8
                        list-9;
                      counter-increment: list-2;

                      &::marker {
                        content: counter(list-2, lower-alpha) '. ';
                      }
                    }

                    &.ql-indent-3 {
                      margin-left: 120px;
                      counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
                      counter-increment: list-3;

                      &::marker {
                        content: counter(list-3, lower-alpha) '. ';
                      }
                    }

                    &.ql-indent-4 {
                      margin-left: 160px;
                      counter-reset: list-5 list-6 list-7 list-8 list-9;
                      counter-increment: list-4;

                      &::marker {
                        content: counter(list-4, lower-alpha) '. ';
                      }
                    }

                    &.ql-indent-5 {
                      margin-left: 200px;
                      counter-reset: list-6 list-7 list-8 list-9;
                      counter-increment: list-5;

                      &::marker {
                        content: counter(list-5, lower-alpha) '. ';
                      }
                    }

                    &.ql-indent-6 {
                      margin-left: 240px;
                      counter-reset: list-7 list-8 list-9;
                      counter-increment: list-6;

                      &::marker {
                        content: counter(list-6, lower-alpha) '. ';
                      }
                    }

                    &.ql-indent-7 {
                      margin-left: 280px;
                      counter-reset: list-8 list-9;
                      counter-increment: list-7;

                      &::marker {
                        content: counter(list-7, lower-alpha) '. ';
                      }
                    }

                    &.ql-indent-8 {
                      margin-left: 320px;
                      counter-reset: list-9;
                      counter-increment: list-8;

                      &::marker {
                        content: counter(list-8, lower-alpha) '. ';
                      }
                    }
                  }
                }
              }

              .hide-number-document {
                display: none;
              }
            }

            .text-button {
              min-height: 25px;
              min-width: 40px;

              &:hover {
                padding: 0px;
                background-color: $clink-pink-light;
                border-width: 0px;
                border-radius: 4px;
              }

              &--empty {
                height: 25px;
                width: 100px;
              }
            }

            .text-button ul {
              list-style-type: disc !important;
              margin-left: 35px !important;
              padding-left: 0;
            }

            .text-button li {
              display: list-item !important;
            }
          }
        }
      }

      &-left {
        max-width: 100%;
        scrollbar-color: $clink-purple transparent;

        ::-webkit-scrollbar-thumb {
          background: $clink-purple;
        }

        @include media('<tablet') {
          margin-bottom: 30px;
        }

        background-color: $bg-purple;

        & > div {
          margin-right: 0;
          margin-left: 0;
          display: block;
          overflow: auto;

          .field-holder {
            padding: 1rem 32px;
            margin: 0;
            flex-basis: 100%;

            &.gray-bg {
              background-color: $bg-purple;
            }

            &.white-bg {
              background-color: $white;
            }

            &.first {
              border-top: 1px solid $purple-lighter;
            }
          }
        }
      }
    }
  }
}
