table.inner {
  table-layout: fixed;
  margin: 0;
}

table.inner th {
  background-color: #f2f2f2;
}

th.quote-tender-name {
  width: 80%;
}

th.quote-tender-awarded {
  width: 20%;
}

table.inner td.quotes-company {
  width: 35%;
}
