##DOCKER
ENV_DOCKER_API_PORT=$ENV_DOCKER_API_PORT
DOCKER_SERVICES_HOSTS=$DOCKER_SERVICES_HOSTS

GOCARDLESS_TOKEN=$GOCARDLESS_TOKEN
ENVIRONMENT=$ENVIRONMENT
ACCOUNT_SERVICE_URL=$ACCOUNT_SERVICE_URL
ACCOUNT_SERVICE_URL_V2=$ACCOUNT_SERVICE_URL_V2
CLINK_URL=$CLINK_URL
LEGACY_CLINK_URL=$LEGACY_CLINK_URL
LEGACY_TOKEN=sdfdfs23fd#dsf&sdf
LEGACY_AJAX_TOKEN=$LEGACY_AJAX_TOKEN
LEGACY_ENABLED=$LEGACY_ENABLED

##SEND EMAIL PUBLISH MARKETPLACE
EMAIL_PUBLISH_MARKETPLACE_ENABLED=$EMAIL_PUBLISH_MARKETPLACE_ENABLED

##AWS PHP DEPERECATE WARNING
AWS_SNS_PHP_SUPPRESS_WARNING=$AWS_SNS_PHP_SUPPRESS_WARNING
AWS_SQS_PHP_SUPPRESS_WARNING=$AWS_SQS_PHP_SUPPRESS_WARNING
AWS_S3_PHP_SUPPRESS_WARNING=$AWS_S3_PHP_SUPPRESS_WARNING

## ASSET AWS URL
ASSET_URL=$ASSET_URL

##Admin
ADMIN_URL=$ADMIN_URL

##RELAY
RELAY_APP_PROSPER=$RELAY_APP_PROSPER

##Hubspot
HUBSPOT_ENABLED=$HUBSPOT_ENABLED
HUBSPOT_URL=$HUBSPOT_URL
HUBSPOT_TOKEN=$HUBSPOT_TOKEN

HUBSPOT_V2_URL=$HUBSPOT_V2_URL
HS_SUPPLY_CHAIN_EMAIL_ID=$HS_SUPPLY_CHAIN_EMAIL_ID

##HUBSPOT CAMPAIGN ID
HS_INSTRUCTION_EMAIL_ENABLED=$HS_INSTRUCTION_EMAIL_ENABLED
HS_INSTRUCTION_EMAIL_ID=$HS_INSTRUCTION_EMAIL_ID

##Hubspot Prosper
PROSPER_HUBSPOT_ENABLED=$PROSPER_HUBSPOT_ENABLED
PROSPER_HUBSPOT_URL=$PROSPER_HUBSPOT_URL
PROSPER_HUBSPOT_TOKEN=$PROSPER_HUBSPOT_TOKEN

DB_HOST=$DB_HOST
DB_NAME=$DB_NAME
DB_USER=$DB_USER
DB_PASSWORD=$DB_PASSWORD
PROSPER_URL=$PROSPER_URL
EMAIL_USERNAME=$EMAIL_USERNAME
EMAIL_PASSWORD=$EMAIL_PASSWORD
DEBUG=$DEBUG
DEBUG_EMAIL=$DEBUG_EMAIL
DEBUG_CC_TO=$DEBUG_CC_TO
DEBUG_BCC_TO=$DEBUG_BCC_TO
COOKIE_DOMAIN=$COOKIE_DOMAIN
REACT_JS=$REACT_JS
REACT_DOM_JS=$REACT_DOM_JS
EMAIL_ENABLED=$EMAIL_ENABLED
ACCOUNT_API_TOKEN_ENABLED=$ACCOUNT_API_TOKEN_ENABLED
ACCOUNT_API_TOKEN=$ACCOUNT_API_TOKEN
PROJECT_SERVICE_URL=$PROJECT_SERVICE_URL
DOCUMENT_SERVICE_URL=$DOCUMENT_SERVICE_URL
ANALYSER_SERVICE_URL=$ANALYSER_SERVICE_URL
APP_PROSPER_URL=$APP_PROSPER_URL

AWS_S3_ACCESS_KEY_ID=$AWS_S3_ACCESS_KEY_ID
AWS_S3_SECRET_ACCESS_KEY=$AWS_S3_SECRET_ACCESS_KEY
AWS_S3_REGION=$AWS_S3_REGION
AWS_S3_BUCKET=$AWS_S3_BUCKET
AWS_S3_DOCUMENT_BUCKET=$AWS_S3_DOCUMENT_BUCKET
AWS_S3_DOCS_BUCKET=$AWS_S3_DOCS_BUCKET
AWS_S3_PDF_BUCKET=$AWS_S3_PDF_BUCKET
AWS_S3_DOCUMENT_BUCKET_FOLDER=$AWS_S3_DOCUMENT_BUCKET_FOLDER
AWS_S3_ASSET_BUCKET=$AWS_S3_ASSET_BUCKET
AWS_S3_VERSION=$AWS_S3_VERSION
DOCUMENT_STRUCTURAL_S3_BUCKET=$DOCUMENT_STRUCTURAL_S3_BUCKET
AWS_S3_ASSET_URL=$AWS_S3_ASSET_URL
AWS_SQS_KEY=$AWS_SQS_KEY
AWS_SQS_SECRET=$AWS_SQS_SECRET
AWS_SQS_URL=$AWS_SQS_URL
AWS_SQS_PROCESS_URL=$AWS_SQS_PROCESS_URL
AWS_SQS_SNAPSHOT_URL=$AWS_SQS_SNAPSHOT_URL
AWS_SQS_PREVIEW_SNAPSHOT_URL=$AWS_SQS_PREVIEW_SNAPSHOT_URL
AWS_SQS_SNAPSHOT_PARALLEL=$AWS_SQS_SNAPSHOT_PARALLEL
QUEUE_PROCESSING_ENABLED=$QUEUE_PROCESSING_ENABLED
AWS_SQS_PARALLEL=$AWS_SQS_PARALLEL
AWS_SQS_TIMEOUT_TOTAL=$AWS_SQS_TIMEOUT_TOTAL
AWS_SQS_TIMEOUT_AVERAGE=$AWS_SQS_TIMEOUT_AVERAGE
AWS_SQS_PUBLISH_MARKETPLACE_URL=$AWS_SQS_PUBLISH_MARKETPLACE_URL
AWS_SQS_DOWNLOAD_ALL_URL=$AWS_SQS_DOWNLOAD_ALL_URL
SNS_DOWNLOAD_ALL_ADD_QUEUE=$SNS_DOWNLOAD_ALL_ADD_QUEUE
SNS_DOWNLOAD_ALL_PROCESS_QUEUE=$SNS_DOWNLOAD_ALL_PROCESS_QUEUE
AWS_S3_BUCKET_FOLDER=$AWS_S3_BUCKET_FOLDER

SNS_FDP_TOPIC_URL=$SNS_FDP_TOPIC_URL
SNS_TDP_TOPIC_URL=$SNS_TDP_TOPIC_URL
SNS_FSI_TOPIC_URL=$SNS_FSI_TOPIC_URL
SNS_DOWNLOAD_TIMEOUT=$SNS_DOWNLOAD_TIMEOUT

SNS_ENABLED=$SNS_ENABLED
AWS_SNS_KEY=$AWS_SNS_KEY
AWS_SNS_SECRET=$AWS_SNS_SECRET

MAX_FILE_SIZE=$MAX_FILE_SIZE

DOWNLOAD_DOCUMENT_URL=$DOWNLOAD_DOCUMENT_URL
DOWNLOAD_DOCUMENT_FOLDER=$DOWNLOAD_DOCUMENT_FOLDER
SAVE_TEMPLATE_CONTENT=$SAVE_TEMPLATE_CONTENT

APP_CLINK_URL=$APP_CLINK_URL

##COST PLANNING TOOL
GET_ADDRESS_IO_API_KEY=$GET_ADDRESS_IO_API_KEY
CPT_PDF_DEST_DIR=$CPT_PDF_DEST_DIR
ROI_PDF_DEST_DIR=$ROI_PDF_DEST_DIR
CPI_ASSETS_HOST=$CPI_ASSETS_HOST

##Supply Chain Service
SUPPLY_CHAIN_SERVICE_URL=$SUPPLY_CHAIN_SERVICE_URL
SUPPLY_CHAIN_API_TOKEN_ENABLED=$SUPPLY_CHAIN_API_TOKEN_ENABLED
SUPPLY_CHAIN_API_TOKEN=$SUPPLY_CHAIN_API_TOKEN

##Prequalification Service
PREQUALIFICATION_SERVICE_URL=$PREQUALIFICATION_SERVICE_URL
PREQUALIFICATION_API_TOKEN_ENABLED=$PREQUALIFICATION_API_TOKEN_ENABLED
PREQUALIFICATION_API_TOKEN=$PREQUALIFICATION_API_TOKEN
PREQUALIFICATION_DOWNLOAD_FILES_FOLDER=$PREQUALIFICATION_DOWNLOAD_FILES_FOLDER
PREQUALIFICATION_DOWNLOAD_FILES_BUCKET=$PREQUALIFICATION_DOWNLOAD_FILES_BUCKET

##Company profile Service
COMPANY_PROFILE_SERVICE_URL=$COMPANY_PROFILE_SERVICE_URL
COMPANY_PROFILE_API_TOKEN_ENABLED=$COMPANY_PROFILE_API_TOKEN_ENABLED
COMPANY_PROFILE_API_TOKEN=$COMPANY_PROFILE_API_TOKEN

##API Service
API_SERVICE_URL=$API_SERVICE_URL
API_API_TOKEN_ENABLED=$API_API_TOKEN_ENABLED
API_API_TOKEN=$API_API_TOKEN

NAVBAR_ICON=$NAVBAR_ICON

STRIPE_TOKEN=$STRIPE_TOKEN
STRIPE_WEBHOOK_SECRET_KEY=$STRIPE_WEBHOOK_SECRET_KEY
STRIPE_REDIRECT_SUCCESS_URL=$STRIPE_REDIRECT_SUCCESS_URL
STRIPE_REDIRECT_ERROR_URL=$STRIPE_REDIRECT_ERROR_URL
STRIPE_SUBSCRIPTION_FLEXI=$STRIPE_SUBSCRIPTION_FLEXI
STRIPE_SUBSCRIPTION_REGIONAL=$STRIPE_SUBSCRIPTION_REGIONAL
STRIPE_SUBSCRIPTION_NATIONAL=$STRIPE_SUBSCRIPTION_NATIONAL

COMPANY_HOUSE_API_KEY=extcYk91rmsN1WqY52g_LaP7XhJt-BqtudT-RNwH

##GOOGLE TAG MANAGER
GOOGLE_TAG_MANAGER_ENABLED=1
GOOGLE_TAG_MANAGER_ID=GTM-W5VHDGF

NO_FOLLOW_NO_INDEX=1

##HUBSPOT ENQUIRY
HS_SEND_ENQUIRY_EMAIL_ENABLED=$HS_SEND_ENQUIRY_EMAIL_ENABLEDrue
HS_SEND_ENQUIRY_TENDER_EMAIL_ID=$HS_SEND_ENQUIRY_TENDER_EMAIL_ID
HS_SEND_ENQUIRY_TENDER_ADDENDUM_EMAIL_ID=$HS_SEND_ENQUIRY_TENDER_ADDENDUM_EMAIL_ID
HS_SEND_ENQUIRY_PROSPER_TENDER_EMAIL_ID=$HS_SEND_ENQUIRY_PROSPER_TENDER_EMAIL_ID
HS_SEND_ENQUIRY_PROSPER_TENDER_ADDENDUM_EMAIL_ID=$HS_SEND_ENQUIRY_PROSPER_TENDER_ADDENDUM_EMAIL_ID
HS_SEND_ENQUIRY_PROSPER_EXTERNAL_EMAIL_ID=$HS_SEND_ENQUIRY_PROSPER_EXTERNAL_EMAIL_ID

#DOCUSIGN
DOCUSIGN_HOST=$DOCUSIGN_HOST
DOCUSIGN_AUTH_PATH=$DOCUSIGN_AUTH_PATH
DOCUSIGN_AUTH_KEY=$DOCUSIGN_AUTH_KEY
DOCUSIGN_AUTH_USER_ID=$DOCUSIGN_AUTH_USER_ID
DOCUSIGN_AUTH_ACCOUNT_ID=$DOCUSIGN_AUTH_ACCOUNT_ID
DOCUSIGN_AUTH_SCOPE=$DOCUSIGN_AUTH_SCOPE
DOCUSIGN_AUTH_PRIVATE_KEY=$DOCUSIGN_AUTH_PRIVATE_KEY
DOCUSIGN_SAVE_PATH=$DOCUSIGN_SAVE_PATH
DOCUSIGN_PREFIX_SIGN_AREA=$DOCUSIGN_PREFIX_SIGN_AREA
DOCUSIGN_PREFIX_SIGN_DATE_AREA=$DOCUSIGN_PREFIX_SIGN_DATE_AREA

GITHUB_TOKEN=$GITHUB_TOKEN
REACT_SERVICE_HOST=$REACT_SERVICE_HOST
REACT_SERVICE_V2_HOST=$REACT_SERVICE_V2_HOST

# USED FOR APACHE TEMPLATE
SERVICE_NAME=$SERVICE_NAME
APACHE_SERVER_NAME=$APACHE_SERVER_NAME
APACHE_SERVER_ADMIN=$APACHE_SERVER_ADMIN
APACHE_WEB_ROOT=$APACHE_WEB_ROOT

##Email Service
EMAIL_SERVICE_URL=$EMAIL_SERVICE_URL
EMAIL_API_TOKEN_ENABLED=$EMAIL_API_TOKEN_ENABLED
EMAIL_API_TOKEN=$EMAIL_API_TOKEN
EMAIL_DEFAULT_CLINK_ADDRESS=$EMAIL_DEFAULT_CLINK_ADDRESS
EMAIL_DEFAULT_PROSPER_ADDRESS=$EMAIL_DEFAULT_PROSPER_ADDRESS

# APACHE SERVICES CONF
APACHE_ACCOUNT_SERVICE_PROXY_PASS=$APACHE_ACCOUNT_SERVICE_PROXY_PASS
APACHE_DOCUMENT_SERVICE_PROXY_PASS=$APACHE_DOCUMENT_SERVICE_PROXY_PASS
APACHE_PROJECT_SERVICE_PROXY_PASS=$APACHE_PROJECT_SERVICE_PROXY_PASS
APACHE_SUPPLY_CHAIN_SERVICE_PROXY_PASS=$APACHE_SUPPLY_CHAIN_SERVICE_PROXY_PASS
APACHE_COMPANY_PROFILE_SERVICE_PROXY_PASS=$APACHE_COMPANY_PROFILE_SERVICE_PROXY_PASS
APACHE_PREQUALIFICATION_SERVICE_PROXY_PASS=$APACHE_PREQUALIFICATION_SERVICE_PROXY_PASS
APACHE_EMAIL_SERVICE_PROXY_PASS=$APACHE_EMAIL_SERVICE_PROXY_PASS
APACHE_API_SERVICE_PROXY_PASS=$APACHE_API_SERVICE_PROXY_PASS
DEFAULT_REDIRECT_LOGIN_URL=$DEFAULT_REDIRECT_LOGIN_URL
PHP_SETTINGS_MAX_EXECUTION_TIME=$PHP_SETTINGS_MAX_EXECUTION_TIME

# BCC ORDER EMAIL
TENDER_EMAIL_PAUL=$TENDER_EMAIL_PAUL
TENDER_EMAIL_FRANCIS=$TENDER_EMAIL_FRANCIS

#MONITORING APP
MONITORING_NEWRELIC_ENABLED=$MONITORING_NEWRELIC_ENABLED

CURRENCY_SYMBOL=£

ANALYSER_API_TOKEN=
ANALYSER_API_TOKEN_ENABLED=false
ANALYSER_ENABLED=false
ANALYTICS_API_TOKEN=false
ANALYTICS_SERVICE_URL=
ANALYTICS_TOKEN_ENABLED=false
API_TOKEN_ENABLED=false
COMPANY_HOUSE_API="https://api.companieshouse.gov.uk"
COMPANY_HOUSE_SEARCH_API="https://api.company-information.service.gov.uk/advanced-search/companies"
CONTRACT_S3_BUCKET="document"
COST_PLANNING_TOOL_API_TOKEN=
COST_PLANNING_TOOL_API_TOKEN_ENABLED=false
COST_PLANNING_TOOL_SERVICE_URL=
DOCUMENT_API_TOKEN=
DOCUMENT_API_TOKEN_ENABLED=false
DOCUMENT_S3_BUCKET="asset"
DOWNLOAD_ATTACHMENTS_FOLDER=
EMAIL_TOKEN_ENABLED=false
ENQUIRY_FIRST_RECEIVED_EPOCH_DATE=
HS_FIRST_ENQUIRY_RECEIVED_EMAIL_ID=
HS_INSTRUCTION_PROSPER_EMAIL_ID=
HS_SEND_INTEREST_REMINDER_EMAIL_ID=
HS_SEND_INTEREST_RETROACTIVELY_REMINDER_EMAIL_ID=
HS_SUPPLY_CHAIN_EMAIL_ENABLED=false
HS_TEAM_MANAGER_INVITE_ENABLED=false
HS_TEAM_MANAGER_INVITE_ID=
PRICING_DOC_EMAIL_DEBUG_TO=
PRICING_DOC_EMAIL_FROM=
PRICING_DOC_EMAIL_TO=
PROJECT_API_TOKEN=
PROJECT_API_TOKEN_ENABLED=false
PROJECT_COMMS_CC_EMAIL_TO=
PROJECT_COMMS_EMAIL_FROM=
PROJECT_COMMS_EMAIL_TO=
SCHEDULE_OF_ATTENDANCES_CHECKED_IMAGE=
SENTRY_DNS=false
SENTRY_ENABLED=false
SENTRY_INTEGRITY=false
SENTRY_TRACES=false
SNS_FIR_TOPIC_URL=false
SNS_IDU_TOPIC_URL=false
SNS_SIGNATORY_TOPIC_URL=
LUCKYORANGE_SITE_ID=false
LUCKYORANGE_ENABLED=false
DB_CHARSET=
DB_COLLATION=
DB_DRIVER=
DB_PORT=

VERTEX_SERVICE_AUTH_ENABLED=
VERTEX_SERVICE_TOKEN=
VERTEX_SERVICE_URL=
