// Default selectbox
.select-block {
  width: 100%;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: relative;

  &.added {

    label {
      top: 0;
      font-size: 13px;
    }

    .active-list {
      color: #3c3c3c;
      font-size: 12px;
    }

  }

  &.focus {

    label {
      top: 0;
      font-size: 13px;
      color: #2196f3;
    }

    .active-list {

      &:after {
        content: "▲";
        color: #ed1164;
      }

      &:before {
        left: 0%;
        width: 100%;
      }

    }

  }

  .info__display {
    position: absolute;
    top: -10px;
    right:0px;
    z-index: 3;
    color: #959595;
  }

  label {
    position: absolute;
    left: 0;
    top: 25px;
    height: 20px;
    width: 100%;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    margin: 0;
    font-weight: 500;
    z-index: 1;
    color: #939393;
    font-size: 12px;
    line-height: 10px;
    white-space: nowrap;
    overflow: hidden;
  }

  .active-list {
    width: 100%;
    height: 35px;
    padding: 5px;
    color: #c9c9c9;
    position: relative;
    z-index: 2;
    font-weight: 500;
    cursor: pointer;
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &:after {
      content: "▼";
      position: absolute;
      right: 0;
      top: 50%;
      width: 20px;
      padding-left: 5px;
      text-align: left;
      height: 35px;
      line-height: 52px;
      color: #333;
      font-size: 14px;
      margin-top: -29px;
    }

  }

  .custom-select {
    position: relative;
    width: 100%;
    min-height: 40px;
    font-size: 0.9rem;
    border: 5px solid rgba(198, 216, 211, 0.3);
    padding: 0px 8px 0px 8px;
    border-radius: 5px;
    outline: none;

    &:before {
      content: "";
      position: absolute;
      left: 50%;
      width: 0%;
      bottom: 0;
      height: 2px;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      background-color: #4CC0AD;
    }

    .list-field {
      width: 100%;
      height: 52px;
      padding: 0 15px;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
    }

    .drop-down-list {
      width: 100%;
      height: auto;
      max-height: 250px;
      overflow-x: auto;
      z-index: 99;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 105%;
      margin-top: 10px;
      left: 0;
      background-color: white;
      display: none;
      -moz-box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;

      li {
        padding: 10.5px 15px;
        cursor: pointer;
        font-size: 12px;
        line-height: normal;
        background-color: #fafafa;
        background-color: #fff;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        list-style: none;

        input[type="checkbox"] {
          margin: 0;
          margin-right: 8px;
          position: relative;
          top: 1px;
        }

        label {
          font-weight: normal;
          cursor: pointer;
          display: block;
        }

        &:hover {
          color: #3c3c3c;
          background-color: rgba(0, 0, 0, 0.05);
        }

      }

      .add-new {
        border-top: solid 1px #c8c8c8;
        padding: 15px;
        color: #3c3c3c;

        i {
          font-size: 16px;
          margin-top: 3px;
          color: #939393;
        }

      }

    }

  }

}
