ENVIRONMENT=$ENVIRONMENT

DB_USER=$DB_USER
DB_HOST=$DB_HOST
DB_PASSWORD=$DB_PASSWORD
DB_NAME=$DB_NAME

API_TOKEN_ENABLED=$API_TOKEN_ENABLED
API_TOKEN=$API_TOKEN
DB_ORM=$DB_ORM

AWS_S3_ACCESS_KEY_ID=$AWS_S3_ACCESS_KEY_ID
AWS_S3_SECRET_ACCESS_KEY=$AWS_S3_SECRET_ACCESS_KEY
AWS_S3_REGION=$AWS_S3_REGION
AWS_S3_BUCKET=$AWS_S3_BUCKET
AWS_S3_BUCKET_FOLDER=$AWS_S3_BUCKET_FOLDER
AWS_S3_DOCUMENT_BUCKET=$AWS_S3_DOCUMENT_BUCKET
AWS_S3_VERSION=$AWS_S3_VERSION
MAX_FILE_SIZE=$MAX_FILE_SIZE

TEMP_ZIP_DIRECTORY=$TEMP_ZIP_DIRECTORY
TEMP_FILES_DIRECTORY=$TEMP_FILES_DIRECTORY

# USED FOR APACHE TEMPLATE
SERVICE_NAME=$SERVICE_NAME
APACHE_SERVER_NAME=$APACHE_SERVER_NAME
APACHE_SERVER_ADMIN=$APACHE_SERVER_ADMIN
APACHE_WEB_ROOT=$APACHE_WEB_ROOT

# NEW RELIC
NEW_RELIC_LICENSE_KEY=$NEW_RELIC_LICENSE_KEY
NEW_RELIC_APP_NAME=$NEW_RELIC_APP_NAME
