DB_USER=$DB_USER
DB_HOST=$DB_HOST
DB_PASSWORD=$DB_PASSWORD
DB_NAME=$DB_NAME

ENVIRONMENT=$ENVIRONMENT
API_TOKEN_ENABLED=$API_TOKEN_ENABLED
API_TOKEN=$API_TOKEN
CLINK_URL=$CLINK_URL

# USED FOR OUR INTERNAL TESTING ACCOUNTS
TEST_ACCOUNT_PASSWORD=$TEST_ACCOUNT_PASSWORD

# USED FOR APACHE TEMPLATE
SERVICE_NAME=$SERVICE_NAME
APACHE_SERVER_NAME=$APACHE_SERVER_NAME
APACHE_SERVER_ADMIN=$APACHE_SERVER_ADMIN
APACHE_WEB_ROOT=$APACHE_WEB_ROOT

# NEW RELIC
NEW_RELIC_LICENSE_KEY=$NEW_RELIC_LICENSE_KEY
NEW_RELIC_APP_NAME=$NEW_RELIC_APP_NAME

DEFAULT_REDIRECT_LOGIN_URL=$DEFAULT_REDIRECT_LOGIN_URL
ENTRA_AUTHORIZE_URL=$ENTRA_AUTHORIZE_URL
ENTRA_CLIENT_ID=$ENTRA_CLIENT_ID
ENTRA_CLIENT_SECRET=$ENTRA_CLIENT_SECRET
ENTRA_REDIRECT_URI=$ENTRA_REDIRECT_URI
ENTRA_SCOPE=$ENTRA_SCOPE
ENTRA_TOKEN_URL=$ENTRA_TOKEN_URL

# AWS SNS Configuration
AWS_SNS_ACCESS_KEY_ID=$AWS_SNS_ACCESS_KEY_ID
AWS_SNS_SECRET_ACCESS_KEY=$AWS_SNS_SECRET_ACCESS_KEY
AWS_SNS_REGION=$AWS_SNS_REGION
AWS_SNS_VERSION=$AWS_SNS_VERSION
AWS_SNS_FEPA_TOPIC_URL=$AWS_SNS_FEPA_TOPIC_URL
SNS_ENABLED=$SNS_ENABLED

# AWS DYNAMODB Configuration
AWS_DYNAMODB_VERSION=$AWS_DYNAMODB_VERSION
AWS_DYNAMO_TABLE_NAME=$AWS_DYNAMO_TABLE_NAME
AWS_DYNAMODB_REGION=$AWS_DYNAMODB_REGION

# AWS SM Configuration
AWS_SM_PROFILE=$AWS_SM_PROFILE
AWS_SM_REGION=$AWS_SM_REGION
AWS_SM_VERSION=$AWS_SM_VERSION

GOOGLE_AUTHORIZE_URL=$GOOGLE_AUTHORIZE_URL
GOOGLE_CLIENT_ID=$GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=$GOOGLE_CLIENT_SECRET
GOOGLE_REDIRECT_URI=$GOOGLE_REDIRECT_URI
GOOGLE_SCOPE=$GOOGLE_SCOPE
GOOGLE_TOKEN_URL=$GOOGLE_TOKEN_URL
