// https://www.theleagueofmoveabletype.com/chunk
@font-face {
  font-family: 'ChunkMaster';
  src: url('../fonts/chunk-master/webfonts/ChunkFive-Regular.eot') format('eot');
  src: url('../fonts/chunk-master/webfonts/ChunkFive-Regular.woff')
    format('woff');
  src: url('../fonts/chunk-master/webfonts/ChunkFive-Regular.woff2')
    format('woff2');
  font-weight: 600;
  font-style: normal;
}

// Proxima nova
@import url('https://use.typekit.net/rwq6dyc.css');

// Sofia Pro
@import url('https://use.typekit.net/xfh3awb.css');

// Quatro
@import url('https://use.typekit.net/hxu3xqw.css');

// PT Sans
@import url('https://use.typekit.net/wrk0lei.css');

// ITC Avant Garde Gothic Pro
@import url('https://use.typekit.net/pdk5hxz.css');

// Sofia Pro Soft
@import url('https://use.typekit.net/xfh3awb.css');
