.clink-checkbox {
  .tooltip-content {
    @extend .simple-tooltip;
    margin-left: 13px;
    &.no-checkbox {
      margin-left: auto;
    }
    svg {
      width: 1.2em;
      height: 1.2em;
    }
  }
  .info-icon-trade {
    margin-left: 10px !important;
    width: 24px !important;
    height: 24px !important;
  }
}
