.breadcrumbs-panel {
  .card {
    background-color: transparent;

    h1 {
      font-size: 2rem;
      font-weight: bold;
    }
  }
}

.breadcrumbs {
  margin: 5px;
  font-weight: bold;
  &-elem {
    margin-right: 15px;
    text-align: left;
    font-family: 'proxima_nova', 'sofia_pro_softlight', sans-serif;
    font-size: 16px;
    letter-spacing: -0.32px;
    a {
      color: $clink-purple;
      text-decoration: underline;
    }
    &:after {
      content: '>';
      margin-left: 15px;
      font-family: 'proxima_nova', 'sofia_pro_softlight', sans-serif;
      letter-spacing: -0.32px;
      color: $dark-grey;
      opacity: 0.3;
    }
  }
}
