.loading {
  display: block;
  width: 25px;
  height: 50px;
  position: relative;

  svg {
    position: absolute;
    right: -10px;
    top: 4px;
  }

  &__full-div {
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: initial;
    background: $clink-green;
    opacity: 0.5;
    svg {
      top: 50%;
      left: 50%;
      position: relative;
    }
  }
}

.icon-clink-logo_svg__svg-spin {
  -webkit-animation: svg-spin-animation 1s infinite;
  transform-origin: bottom center;
  animation: svg-spin-animation 1s infinite;
  -webkit-animation-timing-function: linear;
}

@keyframes svg-spin-animation {
  0% {
    transform: rotate(0deg);
    transform-origin: center;
    transform-box: fill-box;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: center;
    transform-box: fill-box;
  }
}
