.sidemodal.left .modal-dialog,
.sidemodal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.sidemodal.left .modal-content,
.sidemodal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.sidemodal.left .modal-body,
.sidemodal.right .modal-body {
  padding: 15px 15px 80px;
}

/*Left*/
.sidemodal.left.fade .modal-dialog {
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.sidemodal.left.fade.show .modal-dialog {
  left: 0;
}

/*Right*/
.sidemodal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.sidemodal.right.fade.show .modal-dialog {
  right: 0;
}
