DB_USER=$DB_USER
DB_HOST=$DB_HOST
DB_PASSWORD=$DB_PASSWORD
DB_NAME=$DB_NAME

ENVIRONMENT=$ENVIRONMENT
API_TOKEN_ENABLED=$API_TOKEN_ENABLED
API_TOKEN=$API_TOKEN

# USED FOR APACHE TEMPLATE
SERVICE_NAME=$SERVICE_NAME
APACHE_SERVER_NAME=$APACHE_SERVER_NAME
APACHE_SERVER_ADMIN=$APACHE_SERVER_ADMIN
APACHE_WEB_ROOT=$APACHE_WEB_ROOT

# NEW RELIC
NEW_RELIC_LICENSE_KEY=$NEW_RELIC_LICENSE_KEY
NEW_RELIC_APP_NAME=$NEW_RELIC_APP_NAME
