// Color Range (Global)

$clink-purple: #8e8dbe;
$clink-purple-hover: #7574a5;
$clink-dark-purple: #8e8dbe80;
$clink-darker-purple: #444453;
$clink-green: #4cc0ad;
$clink-green-hover: #33a794;
$clink-green-light: #effcfa;
$clink-green-dark: #4aac9c;
$clink-pink: #ed1164;
$clink-pink-light: #fdf0f0;
$clink-red: #e81c5c;
$red: #ff0000;
$prosper-pink: #d1347d;
$clink-red-hover: #cf0343;
$clink-invalid-red: #de3545;
$clink-orange: #fe8518;
$clink-orange-hover: #e56c00;
$clink-orange-background: #fff7f0;
$clink-grey: #e7e5df;
$clink-lite-green: #c6d8d3;
$lite-blue: #05cdff;
$white: #ffffff;
$black: #000000;
$background-app-color: #f3f3f8;
$clink-black: #1a1b1f;
$dark-grey: #313237;
$dark-lighter-grey: #95989a;
$dark-light-grey: #818286;
$gray-bg: #f3f3f980;
$scrollbar-background: #ededed;
$grey: #7b7b7b;
$n01: #f5f7fa; /* neutral 1*/
$n02: #c3cfe2; /* neutral 2*/
$purple-lightest: #f3f3f9;
$purple-lighter: #e2e2ee;
$purple-light: #c6c5de;
$bg-purple: #f9f9fc;
$lite-purple: #e8e8f2;
$snow: #f9f9f9;
$placeholder-color: #98989b;
$disabled-btn-background: #d6d9e3;
$disabled-btn-background-v2: #e7e7ea;
$disabled-btn-color: #b0b2ba;
$platinum: #e6e6e6;
$radio-input-backgound-selected: #4cc0ad26;
$radio-input-border-selected: #13a4924d;
$yellow: #ffff00;
$main-color: $clink-green;
$sec-color: $clink-purple;
$hover-color: $clink-pink;
$neutral02: $n02;
$clink-table-row: #f3f3f980;
$clink-purple-transparent: #e2e2ee99;
$readonly-bg: #f4f4f9;
$wild-blue-yonder: #96b7c9;
